In [1]:
import pandas as pd
import numpy as np

In [229]:
def p2f(x):
    try:
        if '%' in x:
            return float(x.strip(' %'))/100
        else:
            return x
    except:
        return x

In [247]:
# Loading the full financial table and fixing the columns name
file_name = 'data.csv'
financial_table = pd.read_csv(file_name, encoding='windows 1255')
financial_table.columns = financial_table.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('(', '').str.replace('\n', '_').str.replace('\r','')
financial_table.columns = financial_table.columns.str.replace('שנתי','annual').str.replace('שם_חברה','Company_Name').str.replace("שם", "Financial_Parameter")

In [249]:
# Changing the name of duplicated columns
df = financial_table
cols=pd.Series(financial_table.columns)
for dup in financial_table.columns.get_duplicates(): cols[df.columns.get_loc(dup)]=[dup+'.'+str(d_idx) if d_idx!=0 else dup for d_idx in range(df.columns.get_loc(dup).sum())]
df.columns=cols
financial_table.columns = df.columns

In [250]:
# merging the different annual columns name to one column
annual_2017_merge = financial_table.iloc[:,[28,29,30]]
annual_2017_true = annual_2017_merge.apply(non_null, axis=1)
financial_table["Annual_2017"] = annual_2017_true

In [290]:
# Loading the company list table
file_name = "Companies List.csv"
company_list = pd.DataFrame.from_csv(file_name, header=3)
company_list.columns = company_list.columns.str.replace(" ", "_").str.replace("מספר_מנפיק", "Comp_ref_number")
company_list.columns = company_list.columns.str.replace("מספר_תאגיד","Company_Number")

In [291]:
# Splitting the company list industy column
industry = company_list["ענף_בבורסה"].str.split("-",expand=True)
industry.columns = ["Top_Industry", "Industry", "Sub_Industry"]
company_list = company_list.join(industry)

In [284]:

final_company_list = company_list.iloc[:,[7,8,9,10,11]]
final_company_list.set_index("Comp_ref_number", inplace=True)

                 Company_Number Top_Industry        Industry     Sub_Industry
Comp_ref_number
373                   520038274       ריאלי    נדל"ן ובינוי      נדל"ן ובינוי
1390                  510119068       ריאלי           תעשיה    עץ, נייר ודפוס
1461                  512838723       הייטק           ביומד      ביוטכנולוגיה
106                   520041286       ריאלי    נדל"ן ובינוי      נדל"ן ובינוי
444                   520039264       ריאלי    נדל"ן ובינוי      נדל"ן ובינוי

In [287]:
# Join the company number and industry to the company financial file
final_table = final_table.join(final_company_list,on="comp_serial_name")

In [288]:
# changing the type of merged annual column to match float while eliminating "," and "%" 
#     and exporting to excel
financial_table.Annual_2017.replace(",","", regex=True, inplace=True)
financial_table.Annual_2017 = financial_table.Annual_2017.apply(p2f)
financial_table.Annual_2017 = final_table.Annual_2017.apply(pd.to_numeric, errors="coerce")
final_table = financial_table.iloc[:,[1,23,22,32]]
final_table.to_excel("full_table_20190209.xlsx")